
<div>
    <button kendoButton routerLink="/grid" [look]="'default'">GRID</button>
    <button kendoButton routerLink="/kendo" [look]="'outline'">KENDO</button>
    <button kendoButton routerLink="/check-box" [look]="'default'">CHECK</button>
    <button kendoButton routerLink="/filter" [primary]="true">FILTER</button>
    <button kendoButton routerLink="/form" [togglable]="true">FORM</button>
    <button kendoButton routerLink="/check-box" [icon]="'user'">USER</button>
</div>

<button routerLink="/grid">GRID</button>
<button routerLink="/kendo">KENDO</button>
<button routerLink="/filter">FILTER</button>
<button routerLink="/check-box">CHECK</button>
<button routerLink="/form">FORM</button>

<router-outlet></router-outlet>  

