<p>check-box works!</p>

<fieldset>
    <legend>Check Settings</legend>
    <div class="k-form-field" style="margin-bottom: 1em;">
      <span class="right"><strong>Mode:</strong></span>
      <input
        type="radio"
        name="checkMode"
        id="singleCheck"
        kendoRadioButton
        value="single"
        class="right"
        [(ngModel)]="checkMode"/>
      <label class="k-radio-label right" for="singleCheck">Single</label>
      <input
        type="radio"
        name="checkMode"
        id="multipleCheck"
        value="multiple"
        kendoRadioButton
        [(ngModel)]="checkMode"/>
      <label class="k-radio-label" for="multipleCheck">Multiple</label>
    </div>
    <div *ngIf="checkMode === 'multiple'">
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="enableCheck"
          kendoCheckBox
          [(ngModel)]="enableCheck"/>
        <label class="k-checkbox-label" for="enableCheck">Enable</label>
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkChildren"
          kendoCheckBox
          [(ngModel)]="checkChildren"/>
        <label class="k-checkbox-label" for="checkChildren"
          >Check all children</label>
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkDisabledChildren"
          kendoCheckBox
          [(ngModel)]="checkDisabledChildren"/>
        <label class="k-checkbox-label" for="checkDisabledChildren"
          >Check disabled children</label>
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkParents"
          kendoCheckBox
          [(ngModel)]="checkParents"/>
        <label class="k-checkbox-label" for="checkParents"
          >Check all parents when children are checked</label>
      </label>
      <label class="k-form-field right">
        <input
          type="checkbox"
          id="checkOnClick"
          kendoCheckBox
          [(ngModel)]="checkOnClick"
        />

        <label class="k-checkbox-label" for="checkOnClick">
          Check the node on click</label>
      </label>
    </div>
  </fieldset>
  <br/>
  <kendo-treeview
    [nodes]="data"
    [children]="children"
    [hasChildren]="hasChildren"
    textField="text"
    [kendoTreeViewCheckable]="checkableSettings"
    [(checkedKeys)]="checkedKeys">
  </kendo-treeview>
  
  <div style="margin: 10px 0">
    <i>Press SPACE to check/uncheck the active node</i>
    <div class="example-config">
      Checked keys: {{ checkedKeys.join(",") }}
    </div>
  </div>